body{ 
    background-color: dimgray; 
    color:white; 
    width: 80%; 
    margin: 0 auto;
}

img{
    width: 100%;
}

table{
    border-collapse: collapse;
}
table, td, th{
    border: 1px solid;
}